@import "tailwindcss";

:root {
  font-family: Outfit, Arial, sans-serif;
}

.dashboard-nav-icon-active {
  filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(2462%) hue-rotate(204deg) brightness(94%) contrast(92%);
}

.dashboard-nav-icon-inactive {
  filter: grayscale(1) opacity(0.45);
}
